snippet inf-u
	Inflector::underscore(${1:$word})
snippet inf-h
	Inflector::humanize(${1:$word})
snippet inf-t
	Inflector::tabelize(${1:$word})
snippet inf-cl
	Inflector::classify(${1:$word})
snippet inf-v
	Inflector::variable(${1:$word})
snippet inf-sl
	Inflector::slug(${1:$word})
