snippet inf-p
	Inflector::pluralize(${1:$word})
snippet inf-sg
	Inflector::singularize(${1:$word})
snippet inf-cc
	Inflector::camelize(${1:$word})
snippet inf-u
	Inflector::underscore(${1:$word})
snippet inf-h
	Inflector::humanize(${1:$word})
snippet inf-t
	Inflector::tabelize(${1:$word})
