<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

	<title>${1:Untitled}</title>

	<link rel="stylesheet" href="${2:stylesheets/master.css}" />${3}
</head>
<body>

${4}

</body>
</html>
